<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Top 10 Players</title>
    <style>
        body {
            font-family: Arial;
            text-align: center;
        }
        table {
            margin: 0 auto;
            border-collapse: collapse;
            width: 60%;
        }
        th, td {
            padding: 10px 20px;
            border: 1px solid #aaa;
        }
        th {
            background-color: #222;
            color: #fff;
        }
        tr:nth-child(even) {
            background-color: #f3f3f3;
        }
    </style>
</head>
<body>
    <h1>Top 10 Players</h1>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for score in top_scores %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ score.player.name }}</td>
            <td>{{ score.points }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
